<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="configuration" value="simulated" /> <!-- fake, simulated, real -->
    <add key="consoleArbitragerAppType" value="manual" /> <!-- manual, auto -->
    
    <add key="KrakenSecret" value="" />
    <add key="KrakenKey" value="" />

    <add key="GdaxKey" value="" />
    <add key="GdaxSecret" value="" />
    <add key="GdaxPassphrase" value="" />
  </appSettings>
</configuration>
