<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <appSettings>
    <add key="KrakenSecret" value="" />
    <add key="KrakenKey" value="" />

    <add key="GdaxKey" value="" />
    <add key="GdaxSecret" value="" />
    <add key="GdaxPassphrase" value="" />
  </appSettings>
</configuration>
